===============
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
UnityProject/*.csproj
*.pidb
*.suo
UnityProject/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode
UnityProject/Builds

.vs/
\.idea/
UnityProject/.vs/UnityProject/xs/UserPrefs.xml
